<ion-header>
  <ion-toolbar color="success">
    <ion-title>Registrieren</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>
      Kontakt
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Vorname</ion-label>
      <ion-input type="text" [(ngModel)]="vorname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nachname</ion-label>
      <ion-input type="text" [(ngModel)]="nachname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">E-Mail</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Passwort</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefon</ion-label>
      <ion-input type="tel" [(ngModel)]="telefon"></ion-input>
    </ion-item>
  </ion-card-content>
  </ion-card>
  <ion-card>
  <ion-card-header>
    <ion-card-title>Adresse</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Straße u. Hausnummer</ion-label>
      <ion-input type="text" [(ngModel)]="strasse"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">PLZ</ion-label>
      <ion-input type="tel" [(ngModel)]="plz"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ort</ion-label>
      <ion-input type="text" [(ngModel)]="ort"></ion-input>
    </ion-item>
  </ion-card-content>
</ion-card>
<ion-button size="full" color="light" (click)="signup()">Registrieren</ion-button>
</ion-content>
